<div class="pagehead"><h1>Join Writematic</h1></div>
<div class="Sign_Form">
  <div class="box">
  <%= form_for(@user) do |f|%>
  <div class ="label"><%= f.label :username  %></div>
  <div class="text"><%= f.text_field :username, placeholder: "Pick a Username", autofocus: true %>
  <br>
  <div class ="label"><%= f.label :name  %></div>
  <div class="text"><%= f.text_field :name, placeholder: "Enter your Full Name"%>
  <br>
  <div class ="label"><%= f.label :email %></div>
  <div class="text"><%= f.text_field :email, placeholder: "Enter Your Email" %></div>
  <div class ="label"><%= f.label :password %></div>
  <div class="text"><%= f.password_field :password, placeholder: "Make a Password"  %></div>
</div>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
<%= link_to "Back", root_path %>