<div class="pagehead"><h1>Let's publish your work</h1></div>
<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |error|%>
  <p class="warning"> <%= error %> </p>
<% end %>
<% end %>

<%= form_for(@book) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description%>
  </div>
  <div class="field">
    <%= f.label :publish_year %><br>
    <%= f.text_field :publish_date%>
  </div>
  <div class="field">
  <br>
    <%= f.label :cover %>
    <input data-path-value="true" data-images-only="true" id="book_cover" name="book[cover]" role="uploadcare-uploader" type="hidden">
  <div class="uploadcare-widget" style="display: none;" data-status="ready">
  </div>
  </div>
  <div class="field">
  <br>
    <%= f.label :content %>
    <input data-path-value="true" id="book_content" name="book[content]" role="uploadcare-uploader" type="hidden">
  <div class="uploadcare-widget" style="display: none;" data-status="ready">
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
<br>
<%= link_to "Back", books_path %>
<%= link_to "Logout", logout_path, method: :post %> 

